 @model int[,]
@{
    Layout = "_Layout";
}



<h2>Fyra i rad</h2>


@{
    ViewData["Title"] = "Fyra i rad";
    int rows = Model.GetLength(0);
    int cols = Model.GetLength(1);
    var färgMap = ViewBag.FärgMap as Dictionary<int, string>;

}
@* @if (TempData["Vinst"] != null)
{
    <div style="color:green;">@TempData["Vinst"]</div>
} *@
@* @if (TempData["PopupVinst"] != null)
{
    <script>
        window.onload = function () {
            alert("@TempData["Vinst"]");
        };
    </script>
} *@




@if (TempData["Vinst"] != null)
{
    <h3 style="color:green;">@TempData["Vinst"]</h3>
}
else
{
    <h3>
        Tur: @ViewBag.AktuellSpelare 
    </h3>
        @* 
        <span style="display:inline-block; width:15px; height:15px; border-radius:50%; background-color:@färgMap.FirstOrDefault(x => @ViewBag.AktuellSpelare.ToString().Contains(x.Key.ToString())).Value; margin-left:5px;"></span> *@
   


    @* <h3>Tur: @ViewBag.AktuellSpelare (Viewbag.@AktuellFärgText)
        <span style="display:inline-block; width:15px; height:15px; border-radius:50%; background-color:@färgMap[aktuellSpelare]; margin-left:5px;"></span>
    </h3> *@
}


<div class="mb-3">
    @if (ViewBag.SpeletAvslutat == true)
    {
        <!-- Spelet är slut: erbjud att starta nytt -->
        <form asp-controller="Game" asp-action="StartaSpel" method="get" class="d-inline">
            <button type="submit" class="btn btn-success">Starta nytt spel</button>
        </form>
    }
    else
    {
        <!-- Spelet pågår: erbjud att avsluta -->
        <form asp-controller="Game" asp-action="End" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@ViewBag.SpelID" />
            <button type="submit" class="btn btn-outline-danger"
                    onclick="return confirm('Är du säker på att du vill avsluta spelet?');">
                Avsluta spel
            </button>
        </form>
    }
</div>



  
   @if (ViewBag.SpeletAvslutat != true){
   <div class="d-flex justify-content-center">
    <div class="spelbräde-ram">

    <form  method="post" asp-controller="Spelrunda" asp-action="Drop">
    <input type="hidden" name="spelID" value="@ViewBag.SpelID" />
     
       <table>
        <tr>
            @for (int c = 0; c < cols; c++)
            {
                <td>
                    <button type="submit" name="kolumn" value="@c">↓</button>
                </td>
            }
        </tr>
  
        @for (int r = 0; r < rows; r++)
        {
            <tr>
                @for (int c = 0; c < cols; c++)
                    {
                        var cell = Model[r, c];
                        string color = färgMap != null && färgMap.ContainsKey(cell) ? färgMap[cell] : "white";
                       @*  <td style="width:40px; height:40px; background-color:@color; border:1px solid black;"></td> 
                             <td style="padding:5px;">
                                <div class="rund-markör" style="background-color:@color;"></div>
                            </td> *@

                       <td style="width:50px; height:50px; padding:5px;">
                            <div class="rund-markör" style="background-color:@color;"></div> 
                            @* <div style="width:100%; height:100%; background-color:@color; border-radius:50%; border:1px solid black;"></div>  *@
                        </td>


                    
                }
            </tr>
            }
  
            </table>


        </form>
    </div>
</div>
}
else
{
    <p style="color:red;">Spelet är avslutat. Starta ett nytt spel för att spela igen.</p>
}







