 @model int[,]



<h2>Fyra i rad</h2>


@{
    ViewData["Title"] = "Fyra i rad";
    int rows = Model.GetLength(0);
    int cols = Model.GetLength(1);
    var färgMap = ViewBag.FärgMap as Dictionary<int, string>;

}
@if (TempData["Vinst"] != null)
{
    <div style="color:green;">@TempData["Vinst"]</div>
}
@if (TempData["Vinst"] != null)
{
    <script>
        window.onload = function () {
            alert("@TempData["Vinst"]");
        };
    </script>
}

@if (ViewBag.Vinnare != null)
{
    <h3 style="color:green;">  @ViewBag.Vinnare har vunnit!</h3>
}
else
{
    <h3>Tur: Spelare @ViewBag.AktuellSpelare</h3>
}


  
   @if (ViewBag.SpeletAvslutat != true)
{
<form method="post" asp-action="Drop">
    <input type="hidden" name="spelID" value="@ViewBag.SpelID" />
    <table>
        <tr>
            @for (int c = 0; c < cols; c++)
            {
                <td>
                    <button type="submit" name="kolumn" value="@c">↓</button>
                </td>
            }
        </tr>

        @for (int r = 0; r < rows; r++)
        {
            <tr>
                @for (int c = 0; c < cols; c++)
                    {
                        var cell = Model[r, c];
                        string color = färgMap != null && färgMap.ContainsKey(cell) ? färgMap[cell] : "white";
                        <td style="width:40px; height:40px; background-color:@color; border:1px solid black;"></td>

                    
                }
            </tr>
        }
    </table>
    </form>
}
else
{
    <p style="color:red;">Spelet är avslutat. Starta ett nytt spel för att spela igen.</p>
}




<form method="get" asp-action="Reset">
    <button type="submit">Starta om</button>
</form>
